@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cursor-color: rgba(16, 16, 16, .6);
}

/* Fonts */
@font-face {
  font-family: 'Neue Montreal Light';
  src: url('./fonts/neuemontreal-light-webfont.woff2') format('woff2'),
       url('./fonts/neuemontreal-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal Regular';
  src: url('./fonts/neuemontreal-regular-webfont.woff2') format('woff2'),
       url('./fonts/neuemontreal-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal Medium';
  src: url('./fonts/neuemontreal-medium-webfont.woff2') format('woff2'),
       url('./fonts/neuemontreal-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal Bold';
  src: url('./fonts/neuemontreal-bold-webfont.woff2') format('woff2'),
       url('./fonts/neuemontreal-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.h-custom {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.splide__arrow {
  @apply bg-white opacity-100 hover:opacity-80 !important;
}

/* OLD – Hide Splide carousel arrows */
/* .splide__arrows.splide__arrows--ltr .splide__arrow {
  background: transparent !important;
  @apply h-screen top-0 rounded-none transform-none z-30 w-1/6;
}

.splide__arrows.splide__arrows--ltr .splide__arrow.splide__arrow--prev {
  @apply left-0;
}

.splide__arrows.splide__arrows--ltr .splide__arrow.splide__arrow--next {
  @apply right-0;
}

.splide__arrow svg {
  @apply hidden;
} */

/* Splide pagination */
.splide__pagination {
  @apply bottom-6 !important;
}

.splide__pagination.splide__pagination--ltr .splide__pagination__page {
  @apply bg-off-white rounded-none w-6 h-px m-0 opacity-50;
}

.splide__pagination.splide__pagination--ltr .splide__pagination__page.is-active {
  @apply h-[2px] opacity-100 transform-none;
}

p a {
  @apply decoration-1 underline underline-offset-4 md:underline-offset-8 hover:no-underline;
}

/* To center horizontally zoom in images */
.iiz__img {
  @apply mx-auto;
}