@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue Montreal Bold';
  src: url('./fonts/neuemontreal-bold-webfont.woff2') format('woff2'),
       url('./fonts/neuemontreal-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal Light';
  src: url('./fonts/neuemontreal-light-webfont.woff2') format('woff2'),
       url('./fonts/neuemontreal-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal Regular';
  src: url('./fonts/neuemontreal-medium-webfont.woff2') format('woff2'),
       url('./fonts/neuemontreal-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}